<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [51]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

In [11]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [26]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

In [12]:
# count the number of duplicate rows
num_duplicates = df.duplicated().sum()

# print the result
print("Number of duplicate rows:", num_duplicates)

Number of duplicate rows: 154

How many duplicate values are there in the column Respondent

In [14]:
#count the number of duplicate values in the Respondent column
Res_duplicates = df['Respondent'].duplicated().sum()

# print the result
print("Number of duplicate values:", Res_duplicates)

Number of duplicate values: 154

In [15]:
#print the number of rows
# print number of rows
print("Number of rows:", df.shape[0])

Number of rows: 11552

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [16]:
# drop the duplicate rows
df = df.drop_duplicates()

# print the number of rows after dropping duplicates
print("Number of rows after dropping duplicates:", len(df))

Number of rows after dropping duplicates: 11398

Verify if duplicates were actually dropped.

In [17]:
# your code goes here
# count the number of duplicate rows
num_duplicates = df.duplicated().sum()

# print the result
print("Number of duplicate rows:", num_duplicates)

Number of duplicate rows: 0

## Finding Missing values

Find the missing values for all columns.

In [20]:
#count the number of missing values in each column
missing_values = df.isna().sum()

# print the result
print("Missing values for all columns:")
print(missing_values)

Missing values for all columns:
Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

In [23]:
# count the number of missing values in the 'EdLevel' column
num_missing = df['EdLevel'].isna().sum()

# print the result
print("Number of missing values in the 'EdLevel' column:", num_missing)

Number of missing values in the 'EdLevel' column: 112

In [24]:
# count the number of missing values in the 'Country' column
coun_missing = df['Country'].isna().sum()

# print the result
print("Number of missing values in the 'Country' column:", coun_missing)

Number of missing values in the 'Country' column: 0

Find out how many rows are missing in the column 'WorkLoc'

In [25]:
# count the number of missing values in the 'WorkLoc' column
wor_missing = df['WorkLoc'].isna().sum()

# print the result
print("Number of missing values in the 'WorkLoc' column:", wor_missing)

Number of missing values in the 'WorkLoc' column: 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [33]:
#find the value counts for WorkLoc
value_count = df['WorkLoc'].unique()
print("Unique value counts for 'WorkLoc' column:", value_count)

Unique value counts for 'WorkLoc' column: ['Home' 'Office' 'Other place, such as a coworking space or cafe' nan]

In [34]:
# count the number of each unique value in the 'WorkLoc' column
value_counts = df['WorkLoc'].value_counts()

# print the result
print("Value counts for the 'WorkLoc' column:")
print(value_counts)

Value counts for the 'WorkLoc' column:
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [35]:
#make a note of the majority value here, for future reference
# find the most frequent value in the 'WorkLoc' column
most_frequent = df['WorkLoc'].value_counts().idxmax()

# print the result
print("The most frequent value in the 'WorkLoc' column is:", most_frequent)

The most frequent value in the 'WorkLoc' column is: Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [37]:
# replace the empty rows in the 'WorkLoc' column with the most frequent value
df['WorkLoc'].fillna(most_frequent, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [38]:
# Verify if imputing
# count the number of missing values in the 'WorkLoc' column
wor_missing = df['WorkLoc'].isna().sum()

# print the result
print("Number of missing values in the 'WorkLoc' column:", wor_missing)

Number of missing values in the 'WorkLoc' column: 0

 What is the majority category under the column Employment

In [40]:
#make a note of the majority value here, for future reference
# find the most frequent value in the 'Employment' column
Emp_most_frequent = df['Employment'].value_counts().idxmax()

# print the result
print("The most frequent value in the 'Employment' column is:", Emp_most_frequent)

The most frequent value in the 'Employment' column is: Employed full-time

Under the column " UndergradMajor", which category has the minimum number of rows

In [42]:
#make a note of the majority value here, for future reference
# find the most frequent value in the 'UndergradMajor' column
Und_most_frequent = df['UndergradMajor'].value_counts().idxmin()

# print the result
print("The most frequent value in the 'UndergradMajor' column is:", Und_most_frequent)

The most frequent value in the 'UndergradMajor' column is: A health science (ex. nursing, pharmacy, radiology)

The column ‘ConvertedComp’ contains the annual compensation of the survey respondents. What is the best approach to impute the missing values in this column?

In [45]:
# count the number of each unique value in the 'ConvertedComp’' column
con_val_counts = df['ConvertedComp'].value_counts()

# print the result
print("Value counts for the 'ConvertedComp’ column:")
print(con_val_counts)

Value counts for the 'ConvertedComp’ column:
2000000.0    138
1000000.0    105
100000.0      99
150000.0      92
120000.0      86
            ...
79183.0        1
20475.0        1
288732.0       1
22056.0        1
19880.0        1
Name: ConvertedComp, Length: 3515, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [46]:
#List out the various categories 
categories = df['CompFreq'].unique()
print(categories)

['Yearly' 'Monthly' 'Weekly' nan]

In [49]:
# list all 
df["CompFreq"].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

<b> First, </b> we will create two lists of conditions and corresponding choices that will be used to create a new column 'NormalizedAnnualCompensation'
<b> Second, </b> choices correspond to the values that will be used when each of the conditions is true

In [54]:
# your code goes here
conditions = [df['CompFreq'] == 'Monthly', df['CompFreq'] == 'Weekly']
choices = [df['CompTotal'] * 12, df['CompTotal'] * 52]
#The np.select function applies these conditions and choices to create a new column 'NormalizedAnnualCompensation' in the DataFrame. 
#If none of the conditions are true (i.e., default), the value in 'CompTotal' column will be used.
df['NormalizedAnnualCompensation'] = np.select(conditions, choices, default=df['CompTotal'])

#calculates the median value
df['NormalizedAnnualCompensation'].median()

100000.0

In [53]:
#check how many respondents are being paid yearly after removing the duplicate rows.
df_yearly = df[df['CompFreq'] == 'Yearly']
num_yearly = df_yearly.shape[0]
print(num_yearly)

6073

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).